*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    height: 222px;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}
.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}
.Logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'comic sans ms';
    color: black;
}
.Logo a:hover{
    color: aqua;
    transition: .5s;
}
.menu{
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: white;
    z-index: 1;
    border-bottom: 5px solid black;
    margin-bottom: 90px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    color: aqua;
    text-decoration: underline;
    transition: .5s;
}
.section{
    margin: auto;
    display: flex;
    margin-bottom: 70px;
}
.kolom{
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: lightgreen;
    margin-top: 0;
}
h1{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 50px;
    color: black;
    width: 100%;
    line-height: 50px;
    text-align: center;
    margin-top: 2cm;
    cursor: pointer;
}
a.tbl-biru{
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: whitr;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}
a.tbl-biru:hover{
    background: orangered;
    text-decoration: none;
    transition: .5s;
}
h1:hover{
    color: aqua;
    transition: .5s;
    font-size: 80px;
}
.Teks{
    margin-top: 50px;
}
p{
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    text-align: center;
    font-size: 20px;
    cursor: default;
    font-weight: bold;
}
.kolom p b{
    color: black;
    font-family: 'comic sans ms';
    cursor: pointer;
}
.kolom p b:hover{
    color: aqua;
    transition: .5s;
    font-size: 25px;
    font-family: 'comic sans ms';
    font-weight: bold;
    text-shadow: 1cm, 1cm, 2cm black;
}
